<!-- Home Banner -->
<section id="home" class="home-banner-01">
  <div class="container">
    <div class="row full-screen align-items-center p-100px-tb">
      <div class="col-md-6">
        <div class="ht-text">
          <h1>{{ $.Site.Params.first_name }}<br/>{{ $.Site.Params.last_name }}</h1>
          {{ range $.Site.Params.intro }}
            <p>{{ .content }}</p>
          {{ end }}
          <div class="btn-bar go-to">
            {{ if or ( or ($.Site.Params.experience) ($.Site.Params.education) ) ($.Site.Params.coursework) }}
              <a class="m-btn m-btn-theme" href="#about">Resume</a>
            {{ else }}
              {{ range $.Site.Params.assets }}
                {{ if eq .type "resume" }}
                  <a class="m-btn m-btn-theme" href="https://pbmgmt-resumes.s3.amazonaws.com/{{ .url }}" target="_blank">Resume</a>
                {{ end }}
              {{ end }}
            {{ end }}
            <a class="m-btn m-btn-t-theme" href="mailto:{{ $.Site.Params.email }}">Contact</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        {{ range $.Site.Params.assets }}
          {{ if eq .type "primary" }}
            <img id="primaryImage" src="{{ .url }}" alt="{{ .metadata }}">
            <script type="text/javascript">
              MYLIBRARY.getCdnUrl("primaryImage", "{{ .url }}")
            </script>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="go-to go-to-next">
    <a href="#about">
      <span></span>
    </a>
  </div>
</section>
<!-- End Home Banner -->
