<!-- Work -->
<section id="work" class="section">
  <div class="container">
    <div class="row sm-m-25px-b m-35px-b">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="dark-color text-uppercase">LATEST WORKS</h3>
          <p class="text-uppercase small">A Lead UX &amp; UI designer based in Canada</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="portfolio-content lightbox-gallery">
      <div class="grid-item product branding">
        <div class="portfolio-box-01">
          <div class="portfolio-img">
            <img src="img/portfolio-1.jpg" title="" alt="">
          </div>
          <div class="portfolio-info">
            <h5>Our Photography</h5>
            <span>Design</span>
          </div>
          <a class="link-overlay" href="#"></a>
        </div>
      </div> <!-- grid item -->
      <div class="grid-item product branding">
        <div class="portfolio-box-01">
          <div class="portfolio-img">
            <img src="img/portfolio-1.jpg" title="" alt="">
          </div>
          <div class="portfolio-info">
            <h5>Our Photography</h5>
            <span>Design</span>
          </div>
          <a class="link-overlay" href="#"></a>
        </div>
      </div> <!-- grid item -->
      <div class="grid-item product branding">
        <div class="portfolio-box-01">
          <div class="portfolio-img">
            <img src="img/portfolio-1.jpg" title="" alt="">
          </div>
          <div class="portfolio-info">
            <h5>Our Photography</h5>
            <span>Design</span>
          </div>
          <a class="link-overlay" href="#"></a>
        </div>
      </div> <!-- grid item -->
      <div class="grid-item product branding">
        <div class="portfolio-box-01">
          <div class="portfolio-img">
            <img src="img/portfolio-1.jpg" title="" alt="">
          </div>
          <div class="portfolio-info">
            <h5>Our Photography</h5>
            <span>Design</span>
          </div>
          <a class="link-overlay" href="#"></a>
        </div>
      </div> <!-- grid item -->
      <div class="grid-item product branding">
        <div class="portfolio-box-01">
          <div class="portfolio-img">
            <img src="img/portfolio-1.jpg" title="" alt="">
          </div>
          <div class="portfolio-info">
            <h5>Our Photography</h5>
            <span>Design</span>
          </div>
          <a class="link-overlay" href="#"></a>
        </div>
      </div> <!-- grid item -->
      <div class="grid-item product branding">
        <div class="portfolio-box-01">
          <div class="portfolio-img">
            <img src="img/portfolio-1.jpg" title="" alt="">
          </div>
          <div class="portfolio-info">
            <h5>Our Photography</h5>
            <span>Design</span>
          </div>
          <a class="link-overlay" href="#"></a>
        </div>
      </div> <!-- grid item -->
    </div> <!-- portfolio-content -->
  </div>
</section>
<!-- End Work -->
