{{ if $.Site.Params.references }}
<!-- References -->
<section class="section gray-bg">
  <div class="container">
    <div class="row sm-m-25px-b m-35px-b">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="dark-color text-uppercase">References</h3>
<!--          <p class="text-uppercase small">A Lead UX &amp; UI designer based in Canada</p>-->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">
        <div class="owl-carousel" data-items="2" data-nav-dots="true" data-md-items="2" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30">
          <!-- references -->
          {{ range $.Site.Params.references }}
            <div class="testimonial-col-01">
              <div class="media">
                <div class="img">
                  <img src="img/avatra-1.jpg" title="" alt="">
                </div>
                <div class="media-body p-25px-l">
                  <p>{{ .content }}</p>
                  <div class="tc-info">
                    <h6 class="font-alt dark-color font-w-600">{{ .author_name }}</h6>
                    <span>{{ .author_position }} @ {{ .author_company }}</span>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
          <!-- / -->
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- End References -->
