{{ if or ( or ($.Site.Params.experience) ($.Site.Params.education) ) ($.Site.Params.coursework) }}
<title>Resume</title>
<section id="about" class="section gray-bg">
  <div class="container">
    <div class="row sm-m-25px-b m-35px-b">
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="dark-color text-uppercase">Resume</h3>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 m-15px-tb">
        <div class="about-me-img box-shadow">
          {{ range $.Site.Params.assets }}
          {{ if eq .type "secondary" }}
          <img id="secondaryImage" src="{{ .url }}" alt="{{ .metadata }}">
          <script type="text/javascript">
            MYLIBRARY.getCdnUrl("secondaryImage", "{{ .url }}")
          </script>
          {{ end }}
          {{ end }}
          <div class="nav social-icon">
            {{ range $.Site.Params.socials }}
            {{ if eq .type "Facebook" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
            {{ end }}
            {{ end }}
            {{ if eq .type "LinkedIn" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            {{ end }}
            {{ end }}
            {{ if eq .type "Instagram" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank"><i class="fab fa-instagram"></i></a>
            {{ end }}
            {{ end }}
            {{ if eq .type "Twitter" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank"><i class="fab fa-twitter"></i></a>
            {{ end }}
            {{ end }}
            {{ if eq .type "Tumblr" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank"><i class="fab fa-tumblr"></i></a>
            {{ end }}
            {{ end }}
            {{ if eq .type "GitHub" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank"><i class="fab fa-github"></i></a>
            {{ end }}
            {{ end }}
            {{ if eq .type "Issuu" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank">issuu</i></a>
            {{ end }}
            {{ end }}
            {{ if eq .type "Medium" }}
            {{ if .url }}
            <a href="{{ .url }}" target="_blank"><i class="fab fa-medium-m"></i></a>
            {{ end }}
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-lg-7 m-15px-tb">
        <div class="about-me">
          <div class="row about-list">
            <div class="col-md-6">
              {{ if $.Site.Params.experience }}
              <div class="media">
                <label>Experience</label>
              </div>
              <div>
                <ul>
                  {{ range $.Site.Params.experience }}
                  <li>
                    {{ .position }}, <a href="{{ .link }}" target="_blank">{{ .company }}</a>
                    <br/>
                    <i>
                      {{ substr .start_date 0 -3 }} -
                      {{ if eq .end_date "Present" }}
                      Present
                      {{ else }}
                      '{{ substr .end_date 0 -3 }}
                      {{ end }}
                    </i>
                  </li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}
              {{ if $.Site.Params.coursework }}
              <div class="media">
                <label>Coursework</label>
              </div>
              <div>
                <ul>
                  {{ range $.Site.Params.coursework }}
                  <li>{{ .course_name }}</li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}
            </div>
            <div class="col-md-6">
              {{ if $.Site.Params.leadership }}
              <div class="media">
                <label>Leadership</label>
              </div>
              <div>
                <ul>
                  {{ range $.Site.Params.leadership }}
                  <li>{{ .position }}, <a href="{{ .link }}" target="_blank">{{ .organization }}</a>
                    <br/>
                    <i>
                      {{ substr .start_date 0 -3 }} -
                      {{ if eq .end_date "Present" }}
                      Present
                      {{ else }}
                      '{{ substr .end_date 0 -3 }}
                      {{ end }}
                    </i>
                  </li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}
              {{ if $.Site.Params.skills }}
              <div class="media">
                <label>Skills</label>
              </div>
              <div>
                <ul>
                  {{ range $.Site.Params.skills }}
                  <li>{{ .content }}</li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}
            </div>
          </div>
          <div class="row about-list">
            <div class="col-md-12">
              {{ if $.Site.Params.education }}
              <div class="media">
                <label>Education</label>
              </div>
              <div>
                <ul>
                  {{ range $.Site.Params.education }}
                  <li>{{ .degreeSubtype }}
                    {{ if .majorTwo }}
                    {{ if .majorOne }}
                    in {{ .majorOne }} & {{ .majorTwo }}.
                    {{ else }}
                    in {{ .majorTwo }}.
                    {{ end }}
                    {{ else if .majorOne }}
                    in {{ .majorOne }}.
                    {{ end }}
                    {{ if .minorTwo }}
                    {{ if .minorOne }}
                    Minors in {{ .minorOne }} & {{ .minorTwo }}.
                    {{ else }}
                    Minor in {{ .minorTwo }}.
                    {{ end }}
                    {{ else if .minorOne }}
                    Minor in {{ .minorOne }}.
                    {{ end }}
                  </li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}
            </div>
            {{ if $.Site.Params.certifications }}
            <div class="col-md-12">
              <div class="media">
                <label>Certifications</label>
              </div>
              <div>
                <ul>
                  {{ range $.Site.Params.certifications }}
                  <li>
                    {{ .content }}
                  </li>
                  {{ end }}
                </ul>
                <label></label>
              </div>
            </div>
            {{ end }}
          </div>
          {{ range $.Site.Params.assets }}
            {{ if eq .type "resume" }}
              <div class="btn-bar">
                <a class="m-btn m-btn-theme" href="https://pbmgmt-resumes.s3.amazonaws.com/{{ .url }}" target="_blank">Download Resume</a>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- end about us -->
